body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

/* Estilos para el encabezado */
.header {
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

.header nav {
    margin-right: 20px;
}